[submodule "docs/research_report"]
	path = docs/research_report
	url = https://git.overleaf.com/10253424qwzvhrstvnmg
[submodule "paper"]
	path = paper
	url = https://git.overleaf.com/10426298cpfnwnqyjrsg
[submodule "docs/paper"]
	path = docs/paper
	url = https://git.overleaf.com/10426298cpfnwnqyjrsg
